
    
.row.content {height: 1000px}


.sidenav {
  background-color:#A2BF63;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  background-color: white;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;} 
}